$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



.signin-form {
  display: inline;
}

.signout-form {
  display: inline;
}

.game-status {
  text-align: center;
}

.game-board {
  // visibility: hidden;
}

.game-cell {
  display: inline-block;
  background-color: #000000;
  height: 150px;
  border: 5px solid red;
}
